<template>
  <v-container fluid>
    <v-row dense>
      <v-col
        v-for="(stat, index) in stats"
        :key="index"
        cols="12"
        md="4"
        lg="2"
      >
        <!-- application card -->
        <AppCard4 v-bind="stat" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import AppCard4 from "@/components/ui/application/appcard/AppCard4.vue";

export default {
  components: {
    AppCard4,
  },
  async fetch() {
    let response1 = await this.$axios.get(
      `${this.$config.apiUrl}/k8s/clusters/`
    );
    let response2 = await this.$axios.get(
      `${this.$config.apiUrl}/server/servers/`
    );
    let response3 = await this.$axios.get(
      `${this.$config.apiUrl}/load_balancer/load-balancers/`
    );
    let response4 = await this.$axios.get(
      `${this.$config.apiUrl}/storage/volumes/`
    );
    let response5 = await this.$axios.get(
      `${this.$config.apiUrl}/certificate/certs/`
    );

    const k8s_clusters = response1.data.length;
    const servers = response2.data.length;
    const load_balancers = response3.data.length;
    const volumes = response4.data.length;
    const certs = response5.data.length;

    this.stats = [
      {
        title: "K8s Clusters",
        value: k8s_clusters,
      },
      {
        title: "Servers",
        value: servers,
      },
      {
        title: "Load Balancers",
        value: load_balancers,
      },
      {
        title: "Volumes",
        value: volumes,
      },
      {
        title: "Certificates",
        value: certs,
      },
    ];
  },
  data() {
    return {
      stats: [],
    };
  },
};
</script>
