<template>
    <div>
      <div>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      </div>
      <div>
        <h1 class="text-h5">Create a new Volume</h1>
        <v-divider class="my-2"></v-divider>
        <v-row justify="center">
          <v-col
            cols="12"
            sm="8"
            md="6"
          >
            <VolumeCreateForm />
          </v-col>
        </v-row>
      </div>
    </div>
  </template>
  
  <script>
  import VolumeTable from "@/components/main/tables/VolumeTable";
  import VolumeCreateForm from "@/components/main/forms/VolumeCreateForm";
  export default {
    data: () => ({
      breadcrumbs: [
        {
          text: "Dashboard",
          disabled: false,
          href: "/#",
        },
        {
          text: "Volumes",
          disabled: false,
          href: "/volumes",
        },
        {
          text: "Create",
          disabled: true,
          href: "/volumes/create",
        },
      ],
    }),
    components: {
      VolumeTable,
      VolumeCreateForm,
    },
  };
  </script>
  