<template>
  <div>
    <div>
      <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
    </div>
    <div>
      <div class="d-flex">
        <div>
          <h1 class="text-h5">Volumes</h1>
        </div>
        <div class="ml-auto">
          <v-btn
            color="primary"
            @click="create"
          >Create new volume</v-btn>
        </div>
      </div>
      <v-divider class="my-2"></v-divider>
      <VolumeTable class="my-2" />
    </div>
  </div>
</template>

<script>
import VolumeTable from "@/components/main/tables/VolumeTable";
export default {
  data: () => ({
    breadcrumbs: [
      {
        text: "Dashboard",
        disabled: false,
        href: "/#",
      },
      {
        text: "Volumes",
        disabled: true,
        href: "/volumes",
      },
    ],
  }),
  methods: {
    create() {
      this.$router.push("/volumes/create");
    },
  },
  components: {
    VolumeTable,
  },
};
</script>
