<template>
    <div>
      <div>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      </div>
      <div>
        <h1 class="text-h5">Create a new certificate</h1>
        <v-divider class="my-2"></v-divider>
        <v-row justify="center">
          <v-col
            cols="12"
            sm="8"
            md="6"
          >
            <CertificateCreateForm />
          </v-col>
        </v-row>
      </div>
    </div>
  </template>
  
  <script>
  import CertificateTable from "@/components/main/tables/CertificateTable";
  import CertificateCreateForm from "@/components/main/forms/CertificateCreateForm";
  export default {
  data: () => ({
    breadcrumbs: [
      {
        text: "Dashboard",
        disabled: false,
        href: "/#",
      },
      {
        text: "Certificates",
        disabled: false,
        href: "/certificateds",
      },
      {
        text: "Create",
        disabled: true,
        href: "/certificates/create",
      },
    ],
  }),
  components: {
    CertificateTable,
    CertificateCreateForm,
  },
};
</script>
