<template>
  <div>
    <div>
      <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
    </div>
    <div>
      <div class="d-flex">
        <div>
          <h1 class="text-h5">Certificates</h1>
        </div>
        <div class="ml-auto">
          <v-btn
            color="primary"
            @click="create"
          >Create new certificate</v-btn>
        </div>
      </div>
      <v-divider class="my-2"></v-divider>
      <CertificateTable class="my-2" />
    </div>
  </div>
</template>

<script>
import CertificateTable from "@/components/main/tables/CertificateTable";
export default {
  data: () => ({
    breadcrumbs: [
      {
        text: "Dashboard",
        disabled: false,
        href: "/#",
      },
      {
        text: "Certificates",
        disabled: true,
        href: "/certificates",
      },
    ],
  }),
  methods: {
    create() {
      this.$router.push("/certificates/create");
    },
  },
  components: {
    CertificateTable
  },
};
</script>
