<template>
    <div>
      <v-card max-width="1200">
        <v-card-title>Create Certificate</v-card-title>
        <v-card-text>
          <h5>Certificate Details:</h5>
          <v-row>
            <v-col>
              <v-text-field
                v-model="certificateName"
                label="Certificate Name"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                v-model="publicKey"
                label="Public Key"
                multi-line
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                v-model="fingerprint"
                label="Fingerprint"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-date-picker
                v-model="notValidBefore"
                label="Not Valid Before"
              ></v-date-picker>
            </v-col>
            <v-col>
              <v-date-picker
                v-model="notValidAfter"
                label="Not Valid After"
              ></v-date-picker>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider />
        <v-card-actions class="justify-end">
          <v-btn
            color="primary"
            @click="createCertificate"
          >Create Certificate</v-btn>
          <v-btn @click="cancel">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        certificateName: null,
        publicKey: null,
        fingerprint: null,
        notValidBefore: null,
        notValidAfter: null,
      };
    },
    methods: {
      cancel() {
        this.$router.push("/certificates");
      },
      createCertificate() {
        this.$axios.post(
        `${this.$config.apiUrl}/certificate/certs/`,
        {
          name: this.certificateName,
          publicKey: this.publicKey,
          fingerprint: this.fingerprint,
          not_valid_before: this.notValidBefore,
          not_valid_after: this.notValidAfter
        })
        .then(response => {
          this.$router.push('/certificates');
        })
        .catch(error => {
          this.$toast.error(error.response.data.detail || 'An error occurred');
          this.$router.push('/certificates');
        });
      },
    },
  };
  </script>
  
  <style>
  </style>
  