<template>
  <div>
    <v-card max-width="1200">
      <v-card-title>Choose your cluster specs</v-card-title>
      <v-card-text>
        <h5>Cluster Name:</h5>
        <v-row>
          <v-col>
            <v-text-field
              v-model="clusterName"
              label="Name"
            ></v-text-field>
          </v-col>
        </v-row>
        <h5>Verions:</h5>
        <v-row>
          <v-col>
            <v-select
              v-model="k8sVersion"
              :items="k8sVersions"
              label="Kubernetes Version"
            ></v-select>
          </v-col>
          <v-col>
            <v-select
              v-model="cniVersion"
              :items="cniVersions"
              label="CNI Version"
            ></v-select>
          </v-col>
          <v-col>
            <v-select
              v-model="csiVersion"
              :items="csiVersions"
              label="CSI Version"
            ></v-select>
          </v-col>
          <v-col>
            <v-select
              v-model="etcdVersion"
              :items="etcdVersions"
              label="Etcd Version"
            ></v-select>
          </v-col>
        </v-row>
        <h5>Culster capacities:</h5>
        <v-row>
          <v-col>
            <v-text-field
              v-model="numWorkerNodes"
              label="Number of Worker Nodes"
              type="number"
            ></v-text-field>
          </v-col>
          <v-col>
            <v-text-field
              v-model="numMasterNodes"
              label="Number of Master Nodes"
              type="number"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider />
      <v-card-actions class="justify-end">
        <v-btn
          color="primary"
          @click="createCluster"
        >Create</v-btn>
        <v-btn @click="cancel">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      clusterName: null,
      k8sVersion: null,
      cniVersion: null,
      csiVersion: null,
      etcdVersion: null,
      numWorkerNodes: null,
      numMasterNodes: null,
      k8sVersions: ["1.21", "1.22", "1.23"],
      cniVersions: [],
      csiVersions: [],
      etcdVersions: ["v3.4.28", "v3.5.10"],
    };
  },
  async fetch() {
    try {
      // Fetch CNI versions
      let response1 = await this.$axios.get(
        `${this.$config.apiUrl}/k8s/cni-versions/`
      );
      this.cniVersions = response1.data.map((item) => item.name);

      // Fetch CSI versions
      let response2 = await this.$axios.get(
        `${this.$config.apiUrl}/k8s/csi-versions`
      );
      this.csiVersions = response2.data.map((item) => item.name);

      // ... other API calls and data updates ...
    } catch (error) {
      console.error('Error fetching data:', error);
    }
  },
  methods: {
    cancel() {
      this.$router.push("/kubernetes");
    },
    createCluster() {
      this.$axios.post(
        `${this.$config.apiUrl}/k8s/clusters/`,
        {
          name: this.clusterName,
          k8s_version: this.k8sVersion,
          cni_version: this.cniVersion,
          csi_version: this.csiVersion,
          etcd_version: this.etcdVersion,
          master_count: this.numMasterNodes,
          worker_count: this.numWorkerNodes,
        })
        .then(response => {
          this.$router.push('/kubernetes');
        })
        .catch(error => {
          this.$toast.error(error.response.data.detail || 'An error occurred');
          this.$router.push('/kubernetes');
        });
    },
  },
};
</script>

<style>
</style>