<template>
    <div>
      <div>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      </div>
      <div>
        <h1 class="text-h5">Create a new Load Balancer</h1>
        <v-divider class="my-2"></v-divider>
        <v-row justify="center">
          <v-col cols="12" sm="8" md="6">
            <v-card>
              <v-card-title>Create Load Balancer</v-card-title>
              <v-card-text>
                <v-form ref="loadBalancerForm" v-model="valid">
                  <v-row>
                    <v-col>
                      <v-text-field v-model="loadBalancerName" label="Name"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-text-field v-model="publicIP" label="Public IP"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-text-field v-model="publicPort" label="Public Port" type="number"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-select v-model="selectedCertificate" :items="certificates" item-text="name" label="Certificate"></v-select>
                    </v-col>
                  </v-row>
                </v-form>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-btn @click="cancel">Cancel</v-btn>
                <v-btn @click="createLoadBalancer" :disabled="!valid">Create</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        breadcrumbs: [
          {
            text: "Dashboard",
            disabled: false,
            href: "/#",
          },
          {
            text: "Load Balancers",
            disabled: false,
            href: "/load_balancers",
          },
          {
            text: "Create",
            disabled: true,
            href: "/load_balancers/create",
          },
        ],
        valid: false,
        loadBalancerName: null,
        publicIP: null,
        publicPort: null,
        selectedCertificate: null,
        certificates: [], 
      };
    },
    created() {
      this.fetchCertificates(); // Fetch certificates when the component is created
    },
    methods: {
      async fetchCertificates() {
        try {
          // Make an API call to fetch the list of certificates
          const response = await this.$axios.get(`${this.$config.apiUrl}/certificate/certs`);
          this.certificates = response.data;
        } catch (error) {
          console.error('Error fetching certificates:', error);
        }
      },
      cancel() {
        this.$router.push("/load_balancers");
      },
      createLoadBalancer() {
        const formData = {
          name: this.loadBalancerName,
          public_ip: this.publicIP,
          public_port: this.publicPort,
          certificate: this.selectedCertificate,
        };
  
        this.$axios.post(`${this.$config.apiUrl}/load_balancer/load-balancers/`, formData)
          .then(response => {
            this.$router.push('/load_balancers');
          })
          .catch(error => {
            this.$toast.error(error.response.data.detail || 'An error occurred');
            this.$router.push('/load_balancers');
          });
      },
    },
  };
  </script>
  
  <style>
  </style>
  