<template>
    <div>
      <v-card max-width="1200">
        <v-card-title>Create a New Server</v-card-title>
        <v-card-text>
          <h5>Server Details:</h5>
            <v-row>
                <v-col>
                    <v-text-field v-model="serverName" label="Name"></v-text-field>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                    <v-text-field v-model="ip_address" label="Ip Address"></v-text-field>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                    <v-select v-model="os" :items="osOptions" label="Operating System"></v-select>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                    <v-text-field v-model="ram" label="RAM" type="number"></v-text-field>
                </v-col>
            </v-row>
            
            <v-row>
                <v-col>
                    <v-text-field v-model="cpu" label="CPU" type="number"></v-text-field>
                </v-col>
            </v-row>
           
            <v-row>
                <v-col>
                    <v-select v-model="diskType" :items="diskTypeOptions" label="Disk Type"></v-select>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                    <v-text-field v-model="diskSize" label="Disk Size" type="number"></v-text-field>
                </v-col>
            </v-row>
        </v-card-text>
        <v-divider />
        <v-card-actions class="justify-end">
          <v-btn color="primary" @click="createServer">Create</v-btn>
          <v-btn @click="cancel">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        serverName: null,
        os: null,
        ip_address: null,
        ram: null,
        cpu: null,
        diskType: null,
        diskSize: null,
        osOptions: ["Linux", "Windows", "Mac"],
        diskTypeOptions: ["ssd", "hdd", "sas", "nvme"],
      };
    },
    methods: {
      cancel() {
        this.$router.push("/servers");
      },
      createServer() {
        this.$axios.post(
        `${this.$config.apiUrl}/server/servers/`,
        {
          name: this.serverName,
          ip_address: this.ip_address,
          os: this.os,
          ram: this.ram,
          cpu: this.cpu,
          disk_type: this.diskType,
          disk_size: this.diskSize,
        })
        .then(response => {
          this.$router.push('/servers');
        })
        .catch(error => {
          this.$toast.error(error.response.data.detail || 'An error occurred');
          this.$router.push('/servers');
        });
      },
    },
  };
  </script>
  
  <style>
  </style>
  