<template>
    <div>
      <v-card max-width="1200">
        <v-card-title>Create a New Volume</v-card-title>
        <v-card-text>
          <h5>Volume Details:</h5>
            <v-row>
                <v-col>
                    <v-text-field v-model="volumeName" label="Name"></v-text-field>
                </v-col>
            </v-row>
           
            <v-row>
                <v-col>
                    <v-select v-model="type" :items="TypeOptions" label="Type"></v-select>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                    <v-text-field v-model="size" label="Size" type="number"></v-text-field>
                </v-col>
            </v-row>
        </v-card-text>
        <v-divider />
        <v-card-actions class="justify-end">
          <v-btn color="primary" @click="createVolume">Create</v-btn>
          <v-btn @click="cancel">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        volumeName: null,
        type: null,
        size: null,
        TypeOptions: ["ssd", "hdd", "sas", "nvme"],
      };
    },
    methods: {
      cancel() {
        this.$router.push("/volumes");
      },
      createVolume() {
        this.$axios.post(
        `${this.$config.apiUrl}/storage/volumes/`,
        {
          name: this.volumeName,
          type: this.type,
          size: this.size,
        })
        .then(response => {
          this.$router.push('/volumes');
        })
        .catch(error => {
          this.$toast.error(error.response.data.detail || 'An error occurred');
          this.$router.push('/volumes');
        });
      },
    },
  };
  </script>
  
  <style>
  </style>
  