<template>
  <div>
    <div>
      <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
    </div>
    <div>
      <h1 class="text-h5">Create a new cluster</h1>
      <v-divider class="my-2"></v-divider>
      <v-row justify="center">
        <v-col
          cols="12"
          sm="8"
          md="6"
        >
          <K8sClusterCreateForm />
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import K8sClusterTable from "@/components/main/tables/K8sClusterTable";
import K8sClusterCreateForm from "@/components/main/forms/K8sClusterCreateForm";
export default {
  data: () => ({
    breadcrumbs: [
      {
        text: "Dashboard",
        disabled: false,
        href: "/#",
      },
      {
        text: "K8s Clusters",
        disabled: false,
        href: "/kubernetes",
      },
      {
        text: "Create",
        disabled: true,
        href: "/kubernetes/create",
      },
    ],
  }),
  components: {
    K8sClusterTable,
    K8sClusterCreateForm,
  },
};
</script>
