<template>
  <div>
    <div>
      <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
    </div>
    <div>
      <div class="d-flex">
        <div>
          <h1 class="text-h5">K8s Clusters</h1>
        </div>
        <div class="ml-auto">
          <v-btn
            color="primary"
            @click="create"
          >Create new cluster</v-btn>
        </div>
      </div>
      <v-divider class="my-2"></v-divider>
      <K8sClusterTable class="my-2" />
    </div>
  </div>
</template>

<script>
import K8sClusterTable from "@/components/main/tables/K8sClusterTable";
export default {
  data: () => ({
    breadcrumbs: [
      {
        text: "Dashboard",
        disabled: false,
        href: "/#",
      },
      {
        text: "K8s Clusters",
        disabled: true,
        href: "/kubernetes",
      },
    ],
  }),
  methods: {
    create() {
      this.$router.push("/kubernetes/create");
    },
  },
  components: {
    K8sClusterTable,
  },
};
</script>
