<template>
    <div>
      <div>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      </div>
      <div>
        <h1 class="text-h5">Create a new Load balancer</h1>
        <v-divider class="my-2"></v-divider>
        <v-row justify="center">
          <v-col
            cols="12"
            sm="8"
            md="6"
          >
            <LoadBalancerCreateForm />
          </v-col>
        </v-row>
      </div>
    </div>
  </template>
  
  <script>
  import LoadBalancerTable from "@/components/main/tables/LoadBalancerTable";
  import LoadBalancerCreateForm from "@/components/main/forms/LoadBalancerCreateForm";
  export default {
    data: () => ({
      breadcrumbs: [
        {
          text: "Dashboard",
          disabled: false,
          href: "/#",
        },
        {
          text: "Load Balancers",
          disabled: false,
          href: "/load_balancers",
        },
        {
          text: "Create",
          disabled: true,
          href: "/load_balancers/create",
        },
      ],
    }),
    components: {
      LoadBalancerTable,
      LoadBalancerCreateForm,
    },
  };
  </script>
  