<template>
    <div>
      <div>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      </div>
      <div>
        <h1 class="text-h5">Create a new Server</h1>
        <v-divider class="my-2"></v-divider>
        <v-row justify="center">
          <v-col
            cols="12"
            sm="8"
            md="6"
          >
            <ServerCreateForm />
          </v-col>
        </v-row>
      </div>
    </div>
  </template>
  
  <script>
  import ServerTable from "@/components/main/tables/ServerTable";
  import ServerCreateForm from "@/components/main/forms/ServerCreateForm";
  export default {
    data: () => ({
      breadcrumbs: [
        {
          text: "Dashboard",
          disabled: false,
          href: "/#",
        },
        {
          text: "Servers",
          disabled: false,
          href: "/servers",
        },
        {
          text: "Create",
          disabled: true,
          href: "/servers/create",
        },
      ],
    }),
    components: {
      ServerTable,
      ServerCreateForm,
    },
  };
  </script>
  