<template>
  <v-app>
    <v-main>
      <Layout>
        <nuxt />
      </Layout>
    </v-main>
  </v-app>
</template>

<script>
import Layout from "@/components/main/Layout.vue";

export default {
  components: {
    Layout,
  },
};
</script>
