<template>
  <div>
    <h1 class="text-h4">Dashboard</h1>
    <v-divider class="my-2"></v-divider>
    <div class="my-3">
      <h3 class="text-h5">Summary</h3>
    </div>
    <AppCard class="pa-0" />
    <div class="my-3">
      <h3 class="text-h5">Recent Actions</h3>
    </div>
    <ActionTable class="my-2" />
  </div>
</template>

<script>
import ActionTable from "@/components/main/tables/ActionTable";
import AppCard from "@/components/main/AppCard";

export default {
  components: {
    ActionTable,
    AppCard,
  },
};
</script>
