<template>
  <v-card class="my-1">
    <v-data-table
      :headers="headers"
      :items="actions"
      class="flex-grow-1"
    >
      <template v-slot:item.id="{ item }">
        <div class="d-flex">
          <div>{{ item.id }}</div>
        </div>
      </template>

      <template v-slot:item.requested_at="{ item }">
        <div>{{ item.requested_at }}</div>
      </template>

      <template v-slot:item.requested_by="{ item }">
        <div class="d-flex">
          <div class="caption font-weight-bold">
            {{ item.requested_by }}
          </div>
        </div>
      </template>

      <template v-slot:item.resource="{ item }">
        <div class="d-flex">
          <div class="caption font-weight-bold">
            {{ item.resource }}
          </div>
        </div>
      </template>

      <template v-slot:item.action="{ item }">
        <div class="d-flex">
          <div class="caption font-weight-bold">
            {{ item.action }}
          </div>
        </div>
      </template>

      <template v-slot:item.success="{ item }">
        <v-icon
          v-if="item.success"
          small
          color="success"
        >
          mdi-check-circle
        </v-icon>
        <v-icon
          v-else
          small
        >
          mdi-circle-outline
        </v-icon>
      </template>

    </v-data-table>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      headers: [
        { text: "Id", align: "left", value: "id" },
        { text: "Timestamp", value: "requested_at" },
        { text: "User", value: "username" },
        { text: "Path", align: "left", value: "path" },
        { text: "Method", value: "method" },
        { text: "Status", value: "status_code" },
      ],

      actions: [],
    };
  },
  async fetch() {
    try {
      const response = await this.$axios.get(
        `${this.$config.apiUrl}/action_log/action-logs`
      );
      this.actions = response.data;
    } catch (error) {
      console.error('Error fetching data:', error);
    }
  },
};
</script>

<style lang="scss" scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
