<template>
  <v-card class="my-1">
    <v-data-table
      :headers="headers"
      :items="certificates"
      class="flex-grow-1"
    >
      <template v-slot:item.action="{ item }">
        <v-btn @click="deleteCertificate(item.id)" color="error">Delete</v-btn>
      </template>
      </v-data-table>
  </v-card>
</template>

<script>

export default {
  data() {
    return {
      headers: [
        { text: "Id", value: "id" },
        { text: "Name", value: "name" },
        { text: "Not Valid Before", value: "not_valid_before" },
        { text: "Not Valid After", value: "not_valid_after" },
        { text: "Fingerprint", value: "fingerprint" },
        { text: "Action", value: "action", sortable: false },
      ],

      certificates: [],
    };
  },
  async fetch() {
    let response = await this.$axios.get(
      `${this.$config.apiUrl}/certificate/certs/`
    );
    this.certificates = response.data;
  },
  methods: {
    async deleteCertificate(certificateId) {
      try {
        await this.$axios.delete(`${this.$config.apiUrl}/certificate/certs/${certificateId}`);
        this.certificates = this.certificates.filter(cert => cert.id !== certificateId);
      } catch (error) {
        console.error('Error deleting certificate:', error);
      }
    },
  },
};
</script>
