<template>
  <v-card class="my-1">
    <v-data-table
      :headers="headers"
      :items="k8s_clusters"
      class="flex-grow-1"
    >
      <template v-slot:item.action="{ item }">
        <v-btn @click="deleteCluster(item.id)" color="error">Delete</v-btn>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      headers: [
        { text: "Id", value: "id" },
        { text: "Cluster Name", value: "name" },
        { text: "K8s Version", value: "k8s_version" },
        { text: "Master Nodes", value: "master_count" },
        { text: "Worker Nodes", value: "worker_count" },
        { text: "Status", value: "status" },
        { text: "API Server URL", value: "api_server_url" },
        { text: "Action", value: "action", sortable: false },
      ],
      k8s_clusters: [],
    };
  },
  async fetch() {
    let response = await this.$axios.get(
      `${this.$config.apiUrl}/k8s/clusters/`
    );
    this.k8s_clusters = response.data;
  },
  methods: {
    async deleteCluster(clusterId) {
      try {
        await this.$axios.delete(`${this.$config.apiUrl}/k8s/clusters/${clusterId}`);
        this.k8s_clusters = this.k8s_clusters.filter(cluster => cluster.id !== clusterId);
      } catch (error) {
        console.error('Error deleting cluster:', error);
      }
    },
  },
};
</script>
