<template>
  <v-card class="my-1">
    <v-data-table
      :headers="headers"
      :items="load_balancers"
      class="flex-grow-1"
    >
      <template v-slot:item.action="{ item }">
        <v-btn @click="deleteLoadBalancer(item.id)" color="error">Delete</v-btn>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>

export default {
  data() {
    return {
      headers: [
        { text: "Id", value: "id" },
        { text: "Name", value: "name" },
        { text: "Virtual Address", value: "virtual_address" },
        { text: "Domain Name", value: "domain_name" },
        { text: "TLS Configured", value: "tls_configured" },
        { text: "Member Addresses", value: "member_addresses" },
        { text: "Status", value: "status" },
        { text: "Action", value: "action", sortable: false },
      ],

      load_balancers: [],
    };
  },
  async fetch() {
    let response = await this.$axios.get(
      `${this.$config.apiUrl}/load_balancer/load-balancers/`
    );
    this.load_balancers = response.data;
  },
  methods: {
    async deleteLoadBalancer(loadBalancerId) {
      try {
        await this.$axios.delete(`${this.$config.apiUrl}/load_balancer/load-balancers/${loadBalancerId}`);
        this.load_balancers = this.load_balancers.filter(loadBalancer => loadBalancer.id !== loadBalancerId);
      } catch (error) {
        console.error('Error deleting loadBalancer:', error);
      }
    },
  },
};
</script>
