<template>
  <v-card class="my-1">
    <v-data-table
      :headers="headers"
      :items="servers"
      class="flex-grow-1"
    >
      <template v-slot:item.action="{ item }">
        <v-btn @click="deleteServer(item.id)" color="error">Delete</v-btn>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>

export default {
  data() {
    return {
      headers: [
        { text: "Id", value: "id" },
        { text: "Server Name", value: "name" },
        { text: "Operating System", value: "os" },
        { text: "CPUs", value: "cpus" },
        { text: "RAM (GiB)", value: "ram" },
        { text: "IP Address", value: "ip_address" },
        { text: "Root Disk Size (GiB)", value: "root_disk_size" },
        { text: "Status", value: "status" },
        { text: "Action", value: "action", sortable: false },
      ],

      servers: [],
    };
  },
  async fetch() {
    let response = await this.$axios.get(
      `${this.$config.apiUrl}/server/servers/`
    );
    this.servers = response.data;
  },
  methods: {
    async deleteServer(serverId) {
      try {
        await this.$axios.delete(`${this.$config.apiUrl}/server/servers/${serverId}`);
        this.servers = this.servers.filter(server => server.id !== serverId);
      } catch (error) {
        console.error('Error deleting server:', error);
      }
    },
  },
};
</script>
