<template>
  <v-card class="my-1">
    <v-data-table
      :headers="headers"
      :items="volumes"
      class="flex-grow-1"
    >
      <template v-slot:item.action="{ item }">
        <v-btn @click="deleteVolume(item.id)" color="error">Delete</v-btn>
      </template>
    </v-data-table>
  </v-card>
</template>


<script>

export default {
  data() {
    return {
      headers: [
        { text: "Id", value: "id" },
        { text: "Volume Name", value: "name" },
        { text: "Type", value: "type" },
        { text: "Size (GiB)", value: "size" },
        { text: "Status", value: "status" },
        { text: "Action", value: "action", sortable: false },
      ],
      volumes: [],
    };
  },
  async fetch() {
    let response = await this.$axios.get(
      `${this.$config.apiUrl}/storage/volumes/`
    );
    this.volumes = response.data;
  },
  methods: {
    async deleteVolume(volumeId) {
      try {
        await this.$axios.delete(
          `${this.$config.apiUrl}/storage/volumes/${volumeId}`
        );
        this.volumes = this.volumes.filter((volume) => volume.id !== volumeId);
      } catch (error) {
        console.error('Error deleting volume:', error);
      }
    },
  },
};
</script>
